<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="catering.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <title>ED3N CAFE</title>
</head>
<body>    
    <header>
        <nav>
            <ul>
                <li><a href="/"><img src="logo.png" alt="ED3N CAFE Logo" id="block"></a></li>
                <li class="shared-class"><a href="/menu">Menu</a></li>
                <li class="shared-class"><a href="/Booking">Booking</a></li>
                <div class="dropdown">
                    <button class="dropbtn">Services
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <li class="shared-class"><a href="/Catering">Catering</a></li>
                        <li class="shared-class"><a href="/Venue">Venue</a></li>
                </div>   
            </ul>
        </nav>
    </header>
<body>
    <div class="container">
        <h2>Contact Us</h2>
        <form action="/submit1" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br>
    
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br>

            <label for="comments">Comments:</label><br>
            <textarea id="comments" name="comments" rows="4" cols="50"></textarea><br>
    
            <input type="submit" value="Submit">
        </form>
        </form>
        
    </div>
    <footer>
        <section id="contact">
            <div class="contact-info">
                <h2>Contact Us</h2>
                <p>Feel free to contact us through our contact form</p>
            </div>
    
            <div class="social-icons">
                <a href="https://www.instagram.com/ed3ncafe/?hl=en" target="_blank">
                    <img src="insta.png" alt="Instagram icon" class="icon">
                </a>
    
                <a href="https://www.facebook.com/people/ED3N-Caf%C3%A9/100083322580179/?paipv=0&eav=AfZFNcyrVLydb189aYjIWZgvMdFaErOBXDsRzrSL1SQfvaLc3agEmlbAR2SYgVq8QtY&_rdr" target="_blank">
                    <img src="icon2.png" alt="Facebook icon" class="icon">
                </a>
            </div>
        </section>
    
        <section id="hours">
            <h2>Opening Hours</h2>
            <p>Monday - Wednesday: 08:30 - 17:00</p>
            <p>Thursday - Friday: 08:30 - 18:00</p>
            <p>Saturday: 10:00 - 18:00</p>
            <p>Sunday: 13:00 - 18:00</p>
        </section>
    
        <p>&copy; 2024 ED3N CAFE. All rights reserved.</p>
    </footer>
</body>
</html>


